#colorNav{
  position: fixed;
  top: 150px;
  left: -40px;
  z-index: 1;
}

#colorNav > ul{
  margin:0 auto;
  text-align: left;
}

#colorNav > ul > li{ /* will style only the top level li */
  list-style: none;
  display: block;
  line-height: 1;
  margin: 1px;
  position:relative;
  width: 70px;
}

#colorNav > ul > li > a{
  color:inherit;
  text-decoration:none !important;
  font-size:24px;
  padding: 25px 0 0 25px;
}

#colorNav li ul{
  position:absolute;
  list-style:none;
  text-align:center;
  width:180px;
  left:50%;
  margin-left:-90px;
  top:70px;
  font:bold 12px 'Open Sans Condensed', sans-serif;

  /* This is important for the show/hide CSS animation */
  max-height:0px;
  overflow:hidden;

  -webkit-transition:max-height 0.4s linear;
  -moz-transition:max-height 0.4s linear;
  transition:max-height 0.4s linear;
}

#colorNav li a span{
   display:  none;
}

#colorNav li:hover a span{
  display: inherit;
  margin-left: 15px;
}

#colorNav li:hover{
  display: inherit;
  width: 300px;
}

#colorNav li ul li:nth-child(odd){ /* zebra stripes */
  background-color:#363636;
}

#colorNav li ul li:first-child{
  border-radius:3px 3px 0 0;
  margin-top:25px;
  position:relative;
}

#colorNav li ul li:first-child:before{ /* the pointer tip */
  content:'';
  position:absolute;
  width:1px;
  height:1px;
  border:5px solid transparent;
  border-bottom-color:#313131;
  left:50%;
  top:-10px;
  margin-left:-5px;
}

#colorNav li ul li:last-child{
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
}

#colorNav li.green{
  /* This is the color of the menu item */
  background-color:#00c08b;

  /* This is the color of the icon */
  color:#127a5d;
}

#colorNav li.red{   background-color:#ea5080;color:#aa2a52;}
#colorNav li.blue{    background-color:#53bfe2;color:#2884a2;}
#colorNav li.yellow{  background-color:#f8c54d;color:#ab8426;}
#colorNav li.purple{  background-color:#df6dc2;color:#9f3c85;}

#colorNav li {padding: 20px 0;}