@import url("//fonts.googleapis.com/css?family=Open%2BSans%3A400%2C700%2C800%2C300|Montserrat%3A400%2C700");body{background-color:#32343f;font-family:'Open Sans', sans-serif;}
.skype{width:30%;}
@media (max-width:399px){.interactive-msg{min-height:235px !important;}
}
@media (max-width:639px){.interactive-msg{min-height:100px;}
}
@media (min-width:992px){.interactive-msg{min-height:172px;}
}
@media (max-width:991px){nav{display:none;}
body{text-align:center;}
.interactive-msg{min-height:132px;}
}
.skillSection .circle strong img{width:75px;height:75px;margin-top:-16px;}
.loading{position:absolute;background-color:#00a89e;width:100%;height:100%;z-index:1000;}
.loading .inside{position:fixed;left:50%;top:50%;bottom:auto;right:auto;-moz-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);}
.loading .inside .loader, .loading .inside .loader:before, .loading .inside .loader:after{background:#FFF;-webkit-animation:load1 1s infinite ease-in-out;animation:load1 1s infinite ease-in-out;width:1em;height:4em;}
.loading .inside .loader:before, .loading .inside .loader:after{position:absolute;top:0;content:''}
.loading .inside .loader:before{left:-1.5em;-webkit-animation-delay:-0.32s;animation-delay:-0.32s;}
.loading .inside .loader{text-indent:-9999em;margin:8em auto;position:relative;font-size:11px;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);-webkit-animation-delay:-0.16s;animation-delay:-0.16s;}
.loading .inside .loader:after{left:1.5em;}
@-webkit-keyframes load1{0%,
80%,
100%{box-shadow:0 0 #FFF;height:4em;}
40%{box-shadow:0 -2em #ffffff;height:5em;}
}@keyframes load1{0%,
80%,
100%{box-shadow:0 0 #FFF;height:4em;}
40%{box-shadow:0 -2em #ffffff;height:5em;}
}header{position:fixed;height:100px;display:block;width:100%;background:#333;z-index:9;color:#f2f2f2;padding:10px 0px;top:0px;background-color:#2F98BB;}
header .logo{font-family:'Montserrat', sans-serif;font-weight:700;color:#fff;font-size:2.5em;margin:0;padding:0;text-transform:uppercase;}
header .subLogo{margin:0;padding:0;color:#D3F8F5;font-weight:bold;font-size:24px;}
header .headerBtnCol{text-align:right;margin:25px 0 0 0;}
header .headerBtnCol .hireBtn{font-family:'Montserrat', sans-serif;border:3px solid #e4f6f5;background-color:transparent;-moz-border-radius:25px;-webkit-border-radius:25px;border-radius:25px;padding:15px 45px;color:#e4f6f5;text-transform:uppercase;outline:0;-moz-transition:all 100ms ease;-o-transition:all 100ms ease;-webkit-transition:all 100ms ease;transition:all 100ms ease;text-decoration:none;}
header .headerBtnCol .hireBtn:hover{background-color:#297088;}
@media (max-width:991px){.contactSection .infoRow p{font-size:1.2em !important;}
.skype{width:inherit !important;}
.skillSection .circle canvas{width:100px !important;height:100px !important;}
header .headerBtnCol{text-align:center;}
}
@media (max-width:991px){header{position:initial;height:auto;padding:40px 0px;text-align:center;}
}.section p{color:#FBFAFA;text-align:justify;font-size:17px;line-height:1.5;font-weight:300;}
.section p.smallHeading{text-transform:uppercase;font-family:'Montserrat', sans-serif;font-weight:700;color:#D9DAE1;font-size:16px;}
.section h1, .section h2{font-family:'Montserrat', sans-serif;font-weight:700;line-height:1.2;color:#ffffff;margin:10px 0 30px 0;}
.section .insideSection{padding:120px 0 0 0;}
@media (max-width:991px){.section .insideSection{padding:0;}
}.section .eduImg{margin:20px auto 0 auto;}
@media (max-width:1199px){.skype{width:30%;}
.section .eduImg{margin:40px auto 0 auto;}
}.section .workImg{margin:50px auto 0 auto;}
@media (max-width:1199px){.section .workImg{margin:60px auto 0 auto;}
}.section .personalImg{margin:80px auto 0 auto;}
@media (max-width:1199px){.section .personalImg{margin:120px auto 0 auto;}
}.section .achvImg{margin:40px auto 0 auto;}
@media (max-width:1199px){.section .achvImg{margin:50px auto 0 auto;}
}.section .sectionImg{max-width:300px;text-align:center;}
@media (max-width:991px){.section .sectionImg{margin:30px auto 30px auto;max-width:200px;text-align:center;}
}.section .aboutImg{max-width:100%}
.section .scrollIcon{width:25px;height:25px;position:absolute;bottom:30px;font-size:20px;color:#575969;text-align:center;left:50%;margin-left:-12.5px;-moz-transition:all 100ms ease;-o-transition:all 100ms ease;-webkit-transition:all 100ms ease;transition:all 100ms ease;-moz-animation:scrollIconAnimation 1s infinite;-webkit-animation:scrollIconAnimation 1s infinite;animation:scrollIconAnimation 1s infinite;}
.section .scrollIcon i{color:#575969;}
@media (max-width:991px){.section .scrollIcon{display:none;}
}@-webkit-keyframes scrollIconAnimation{0%{bottom:30px;}
50%{bottom:40px;}
100%{bottom:30px;}
}@-moz-keyframes scrollIconAnimation{0%{bottom:30px;}
50%{bottom:40px;}
100%{bottom:30px;}
}@-ms-keyframes scrollIconAnimation{0%{bottom:30px;}
50%{bottom:40px;}
100%{bottom:30px;}
}@keyframes scrollIconAnimation{0%{bottom:30px;}
50%{bottom:40px;}
100%{bottom:30px;}
}.section .slider .item{background-color:#fff;padding:40px 20px;max-height:350px;overflow-y:scroll;}
.section .slider .item h3{color:#2F98BB;font-family:'Montserrat', sans-serif;font-weight:700;margin:0 0 10px 0;}
.section .slider .item .subHeading{text-transform:uppercase;font-weight:300;color:#636363;font-size:0.9em;margin:0 0 15px 0;}
.section .slider .item .subHeading .fa2{margin:0 0 0 5px;}
.section .slider .item p{color:#32343f;}
.aboutSection h1 .hChar{background-color:#fff;color:#000;}
@media (max-width:991px){.skillSection .circle strong img{width:75px !important;height:75px !important;margin-top:10px;margin-left:0 !important;}
.aboutSection h1{font-size:2em;}
}.aboutSection .aboutImg{text-align:center;margin:55px auto 0 auto;}
.aboutSection .typed-cursor{color:#fff;opacity:1;-webkit-animation:blink 0.7s infinite;-moz-animation:blink 0.7s infinite;animation:blink 0.7s infinite;}
@-webkit-keyframes blink{0%{opacity:1;}
50%{opacity:0;}
100%{opacity:1;}
}@-moz-keyframes blink{0%{opacity:1;}
50%{opacity:0;}
100%{opacity:1;}
}@-ms-keyframes blink{0%{opacity:1;}
50%{opacity:0;}
100%{opacity:1;}
}@keyframes blink{0%{opacity:1;}
50%{opacity:0;}
100%{opacity:1;}
}.skillSection h2{margin:15px 0 30px 0;}
.skillSection .circle{width:100px;margin:6px 6px 20px;display:inline-block;position:relative;text-align:center;line-height:1.2;}
.skillSection .circle canvas{vertical-align:top;}
.skillSection .circle strong{position:absolute;top:30px;left:0;width:100%;text-align:center;line-height:40px;font-size:30px;}
.skillSection .circle strong i{font-style:normal;font-size:0.6em;font-weight:normal;}
@media (max-width:1199px){.skillSection .circle{width:100%}
.skillSection .circle canvas{width:75px;height:75px;}
.skillSection .circle strong{top:3px;}
.skillSection .circle strong img{width:50px;height:50px;margin-top:10px;margin-left:12px;}
}
.skillSection .skillCol{margin:10px auto;}
.skillSection .skillCol h3{margin:0 0 15px 0;color:#2F98BB;font-family:'Montserrat', sans-serif;font-weight:700;}
@media (max-width:1199px){.skillSection .skillCol h3{font-size:1.3em;}
}
@media (max-width:991px){.skillSection .skillCol{text-align:center;}
.skillSection .skillCol h3{margin:15px 0 15px;}
.contactSection form{margin:30px auto !important;}
}
.contactSection form{background-color:#fff;padding:20px;margin-top:72px;}
.contactSection form label{color:#313131;}
.contactSection form label span{color:#d24755;}
@media (max-width:1199px){.contactSection form{margin:92px auto 0 auto;}
}.contactSection .rightBox{background-color:#d24755;padding:20px 0;}
.contactSection .rightBox h2{margin:15px 0 15px 15px;}
.contactSection .rightBox .smallHeading{color:#ea98a1;}
.contactSection .rightBox p{color:#f7d9dc;}
@media (max-width:991px){.contactSection .rightBox{margin:20px auto;}
}.contactSection .infoRow{text-align:center;font-family:'Montserrat', sans-serif;font-weight:700;margin:15px auto;}
.contactSection .infoRow p{margin:10px auto;color:#fff;font-size:1em;}
@media (max-width:1199px){.contactSection .infoRow p{font-size:0.8em;}
}.contactSection #map-canvas{height:270px;width:100%}
@media (max-width:1199px){.contactSection #map-canvas{height:260px;}
}.acrdSection .acrdList{list-style:none;margin:30px 0 30px 0;padding:0;}
.acrdSection .acrdList li{background-color:#eee;margin:10px auto;padding:15px;}
.aboutSection h1 span{font-size:26px !important;}
.form-message{margin-top:0;}
.center-align{text-align:center !important;}
.row-about-me{}
.other-education-list{text-align:left;}
footer{background-color:#2D2E33;}
.footer-buttons{margin:20px 0;}
.copyright-text{color:#FBFAFA;}
.footer-icon-circle{color:#565656;border-radius:100%;}
.footer-link:hover span{border-radius:100%;cursor:pointer;box-shadow:inset 0px 0px 25px white;}
.avatar{border-radius:100%;border:2px solid whitesmoke;height:80px;display:inline-block;margin-bottom:60px;margin-right:15px;}
.brand{display:inline-block;}